:root {
    --black: #0d1b2a;
    --dark: #1b263b;
    --deep: #415a77;
    --medium: #778da9;
    --clear: #e0e1dd;
    --light: #edf2f4;
    --red-clear: #ef233c;
    --red-deep: #780000;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'inconsolata';
    text-align: justify;
}

header {
    background-color: var(--dark);
    color: white;
    height: 170px;
    display: flex;
    padding: 0 10%;
}

header>* {
    margin: auto 0;
}

header .titles {
    flex-grow: 1;
}

header .titles .title {
    font-size: 4rem;
}

header .titles .sub-title {
    margin-left: 5px;
    font-size: 1.333rem;
}

header img {
    height: 100px;
    border-radius: 100%;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--deep);
    color: var(--light);
    padding-left: 9%;
}

nav a {
    padding: 10px 20px;
    font-size: 1.333rem;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--medium);
}

main {
    margin: 0 auto;
    width: 1000px;
    flex-grow: 1;
}
.portrait {
    text-align: center;
}
.portrait img{
    height: 300px;
    border-radius: 100%;
    margin: 40px auto;
    border: solid 7px var(--dark);
}
.description {
    text-align: center;
    font-size: 1.333rem;
    width: 75%;
    margin: 50px auto 0 auto;
}
h1 {
    font-size: 3rem;
    margin: 50px 0;
    text-align: center;
    font-weight: bold;
    color: var(--dark);
}

.lien {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.lien a {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.25rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
}
.lien a:hover {
    background-color: var(--deep);
    color: white;
}

.accordeon {
    margin: 5px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);    
}
.accordeon .title {
    display: flex;
    justify-content: space-between;
    font-size: 1.333rem !important;
    cursor: pointer;
    padding: 15px;
}
.accordeon .material-icons {
    transition: 0.3s;
}

.accordeon p {
    padding: 10px;
    font-size: 1.25rem;
    display: none;
}

.cards {
    display: flex;
}

.skill-card {
    flex-grow: 1;
    margin: 40px 0 0 0;
    padding: 10px;
}

.skill-card h2 {
    font-size: 2.5rem;
    color: var(--deep);
    border-bottom: solid 3px var(--medium);
    margin-bottom: 10px;
}

.skill-card h3 {
    margin: 5px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.skill-card p {
    font-size: 1.25rem;
}

.project {
    margin: 80px 0;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
    padding: 30px;
}
.project > div {
    margin: 40px 0;
}
.project img {
    width: 100%;
}

.project h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px 0;
}
.project h3 {
    font-size: 2rem;
    color: var(--deep);
    margin-bottom: 10px;
}
.project p {
    font-size: 1.25rem;
    margin: 20px 0;
}
.project .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project .images img {
    margin: 5px;
    width: 290px;
}

.contact {
    display: flex;
    flex-direction: column;
    font-size: 1.333rem !important;
    width: 600px;
    margin: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
    border-radius: 8px;
}
.contact .item {
    display: flex;
    margin: 10px;
}
.contact .item > * {
    margin: 0 5px;
}
footer {
    display: flex;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 10px;
    background-color: var(--light);
    margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
    header {
        padding: 0 5%;
    }

    main {
        width: 800px;
    }

}

/* TABLET */

@media only screen and (max-width: 992px) {
    header {
        padding: 0 5%;
    }

    main {
        width: 600px;
    }
    .description {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }
}

/* PHONES */

@media only screen and (max-width: 620px) {
    header {
        padding: 0 5px;
    }

    header .titles .title {
        font-size: 2.4rem;
    }

    nav {
        padding-left: 0;
        flex-direction: column;
    }

    nav a {
        padding: 7px 5px;
        font-size: 1.25rem;
    }

    main {
        width: 95%;
    }

    .portrait img {
        height: 200px;
    }
    .contact {
        width: 95%;
    }

}